form {
    margin: 20px 550px 0px 550px;
    background-color: whitesmoke;
}

h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

body {
    background-color: slategray;
}